<header>

    <nav class="top-nav">
      <div class="container">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <div class="nav-wrapper">
                    <a class="page-title">Barilla</a>
                </div>
              </div>
    </nav>
     <ul id="slide-out" class="side-nav" style="background-color: c0c0c0;">
         <li><a class="waves-effect">Dasboard</a></li>
         <li><a class="waves-effect">Schedules</a></li>
         <li><a class="waves-effect">Loan Accounts</a></li>
    </ul>
          
    
  </header>